<div>

    <div class="container mt-4">
        <div class="row">

            <div class="col-md-6 d-flex flex-column gap-3">

                <mat-card class="card-create-task" appearance="outlined">
                    <mat-card-header>
                        <mat-card-title>Create Task</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{longTextCreate}}</p>
                    </mat-card-content>
                    <mat-card-footer >
                        <mat-chip-set>
                            <button class="btn btn-primary" (click)="goToCreate()">Create Task</button>
                        </mat-chip-set>
                    </mat-card-footer>
                </mat-card>



                <mat-card class="card-delete-task" appearance="outlined">
                    <mat-card-header>
                        <mat-card-title>Delete Task</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{longTextDelete}}</p>
                    </mat-card-content>
                    <mat-card-footer>
                        <mat-chip-set>
                            <!-- <mat-chip href="/create">charming</mat-chip> -->
                            <button class="btn btn-primary" (click)="goToDeleteTask()">Delete Task</button>
                        </mat-chip-set>
                    </mat-card-footer>
                </mat-card>

            </div>
            <div class="col-md-6 d-flex flex-column gap-3">

                <mat-card class="card-get-task" appearance="outlined">
                    <mat-card-header>
                        <mat-card-title>Update Task</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{longTextUpdate}}</p>
                    </mat-card-content>
                    <mat-card-footer class="example-card-footer">
                        <mat-chip-set>
                            <!-- <mat-chip href="/create">charming</mat-chip> -->
                            <button class="btn btn-primary" (click)="goToUpdateTask()">Update Task</button>
                        </mat-chip-set>
                    </mat-card-footer>
                </mat-card>

                <mat-card class="card-get-All-task" appearance="outlined">
                    <mat-card-header>
                        <mat-card-title>View Tasks</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{longTextGetAll}}</p>
                    </mat-card-content>
                    <mat-card-footer>
                        <mat-chip-set>
                            <!-- <mat-chip href="/create">charming</mat-chip> -->
                            <button class="btn btn-primary" (click)="goToViewTasks()">View Tasks</button>
                        </mat-chip-set>
                    </mat-card-footer>
                </mat-card>
            </div>
        </div>
    </div>