.card-create-task {
    margin: 20px;
    padding: 20px;
    height: 200px;
    align-items: center;
    justify-content: center;
}

.card-update-task {
    margin: 20px;
    padding: 20px;
    height: 200px;
    align-items: center;
    justify-content: center;
}
.card-get-task {
    margin: 20px;
    padding: 20px;
    height: 200px;
    align-items: center;
    justify-content: center;
}
.card-delete-task {
    margin: 20px;
    padding: 20px;
    height: 200px;
    align-items: center;
    justify-content: center;
}

.card-get-All-task{
    margin: 20px;
    padding: 20px;
    height: 200px;
    align-items: center;
    justify-content: center;
}

.btn.btn-primary {
    margin-top: 10px;
    padding-right: 40px;
    text-align: center;
    /* background-color: #abc6f1; */
    
}
.col-md-6 {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.card-create-task{
    
}