<div>
    <h2>Tasks</h2>
    <div class="task-list">
        <input type="text" class="form-control mb-2" placeholder="Filter by name, description, or status"
            [(ngModel)]="filterText" />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Task Id</th>
                    <th>Task Name</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Timeliness</th>
                    <th>Due Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let i of filteredTasks | paginate: { itemsPerPage: 10, currentPage: page }">
                    <td>{{ i.taskId }}</td>
                    <td>{{ i.taskName }}</td>
                    <td>{{ i.taskDescription }}</td>

                    <td [ngClass]="{
                        'status-pending': i.taskStatus === 'PENDING',
                        'status-ongoing': i.taskStatus === 'ONGOING',
                        'status-completed': i.taskStatus === 'COMPLETED'
                        }">
                        {{ i.taskStatus }}
                    </td>
                    <td>
                        <span [ngClass]="getTimeliness(i) === 'Overdue' ? 'text-danger' : 'text-success'">
                            {{ getTimeliness(i) }}
                        </span>
                    </td>
                    <td>{{ i.taskDueDate }}</td>
                    <td>
                        <button class="btn btn-sm btn-secondary" (click)="getTaskById(i.taskId)">View</button>
                        <button class="btn btn-sm btn-primary" (click)="updateTaskStatus(i.taskId)">Update
                            Status</button>
                        <button class="btn btn-sm btn-danger" (click)="deleteSelectedItem(i.taskId)">Delete</button>
                    </td>
                </tr>

            </tbody>
        </table>
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
    <div class="container">

        <div>
            <button class="button" (click)="goToHome()">Back to Home</button>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Task Details</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div>
            <label class="modal-label">Task Id:</label>
            <p>{{ task.taskId }}</p>
        </div>
        <div>
            <label class="modal-label">Task Name:</label>
            <p>{{ task.taskName }}</p>
        </div>
        <div>
            <label class="modal-label">Task Description:</label>
            <p>{{ task.taskDescription }}</p>
        </div>
        <div>
            <label class="modal-label">Task Status:</label>
            <p>{{ task.taskStatus }}</p>
        </div>
        <div>
            <label class="modal-label">Due Date:</label>
            <p>{{ task.taskDueDate }}</p>
        </div>
    </div>
    <div class="modal-footer">

        <button type="button" class="btn btn-secondary" (click)="closeAllModals()">Close</button>
    </div>


</ng-template>

<ng-template #confirmDeleteModal let-modal>

    <div class="modal-header">
        <h4 class="modal-title">Delete Task</h4>
    </div>
    <div class="modal-body">
        <label class="modal-label">Are you sure you want to delete task "{{ task?.taskName }}"?</label>
    </div>
    <div class="modal-body">
        <div>
            <label class="modal-label">Task Description:</label>
            <p>{{ task.taskDescription }}</p>
        </div>
        <div>
            <label class="modal-label">Task Status:</label>
            <p>{{ task.taskStatus }}</p>
        </div>
        <div>
            <label class="modal-label">Due Date:</label>
            <p>{{ task.taskDueDate }}</p>
        </div>
    </div>

    <div class="modal-footer">

        <button class="btn btn-danger" (click)="deleteItem(task.taskId)">Delete</button>
        <button class="btn btn-secondary" (click)="closeAllModals()">Cancel</button>
    </div>
</ng-template>

<ng-template #successModal let-modal>

    <div class="modal-header">
        <h4 class="modal-title">Delete Task</h4>
    </div>
    <div class="modal-body">
        <p>{{ responseMessage }}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" (click)="closeAllModals()">Close</button>
    </div>
</ng-template>

<ng-template #failedModal let-modal>

    <div class="modal-header">
        <h4 class="modal-title">Delete Task</h4>
    </div>
    <div class="modal-body">
        <p>{{ responseMessage }}</p>
    </div>
    <div class="modal-footer">

        <button class="btn btn-secondary" (click)="closeAllModals()">Close</button>
    </div>
</ng-template>

<ng-template #statusUpdateModal let-modal>

    <div class="modal-header">
        <h4 class="modal-title">Update Task Status</h4>
    </div>

    <div class="modal-body">
        <form [formGroup]="statusForm">
            <div>
                <label class="modal-label">Task Status:</label>
                <select class="input-field" id="taskStatus" name="taskStatus" formControlName="taskStatus">
                    <option value="PENDING">Pending</option>
                    <option value="ONGOING">Ongoing</option>
                    <option value="COMPLETED">Completed</option>
                </select>
            </div>

            <div>
                <label class="modal-label">Task Name:</label>
                <p>{{ task.taskName }}</p>
            </div>

            <div>
                <label class="modal-label">Task Description:</label>
                <p>{{ task.taskDescription }}</p>
            </div>

            <div>
                <label class="modal-label">Due Date:</label>
                <p>{{ task.taskDueDate }}</p>
            </div>
        </form>
    </div>

    <div class="modal-footer">

        <button class="btn btn-danger"
            (click)="changeTaskStatus(task.taskId,task.taskName,task.taskDescription,task.taskDueDate)">Update</button>
        <button class="btn btn-secondary" (click)="closeAllModals()">Cancel</button>
    </div>
</ng-template>